@import "./fonts.css";

:root {
	--dark: rgb(6, 3, 36);
	--light: rgb(233, 231, 231);
}

/* BASE CONFIG */
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	font-family: "Oswald", Arial, Helvetica, sans-serif;
}

a {
	color: inherit;
	text-decoration: none;
}

button {
	background: none;
	border: none;
}

/* BASE CONFIG */

.container {
	max-width: 1120px;
	padding: 0 10px;
	margin: 0 auto;
}

.grid {
	display: grid;
}

.grid__col-6 {
	grid-template-columns: 1fr 1fr 1fr;
}

.grid__col-4 {
	grid-template-columns: repeat(3, 1fr);
}

.grid__col-3 {
	grid-template-columns: repeat(4, 1fr);
}

/* HEADER SECTION*/
.header {
	position: sticky;
	top: 0;
	z-index: 9999;
	height: 60px;
	background-color: var(--dark);
	color: var(--light);
}


.header .container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 100%;
}

.header__logo {
	font-size: 28px;
	position: relative;
	z-index: 9999;
}

.header__link {
	font-size: 22px;
	margin-left: 15px;
}

.burger {
	display: none;
	
}

.burger__btn {
	position: relative;
	display: inline-block;
	width: 30px;
	height: 2px;
	background: var(--light);
	transition: .6s;
	z-index: 9999;

}

.burger__btn::before {
	content: "";
	position: absolute;
	width: 30px;
	height: 3px;
	background: var(--light);
	top: -10px;
	left: 0;
	transition: .6s;
}

.burger__btn::after{
	content: "";
	position: absolute;
	width: 30px;
	height: 3px;
	background: var(--light);
	bottom: -10px;
	left: 0;
	transition: .6s;
	
}

#burger:checked+.burger__btn {
	background: var(--dark);
	
	
}

#burger:checked+.burger__btn::before {
	transform: rotate(45deg);
	top: 0;
}
#burger:checked+.burger__btn::after {
	transform: rotate(-45deg);
	bottom: 0;
}
.burger__nav{
	position: absolute;
	background: var(--dark);
	left: 0;
	width: 100%;
	height: auto;
	padding: 20px;
	top: -200px;
	transition: .6s;
}
.burger__link{
	display: block;
	text-align: center;
	font-size: 24px;
	margin-bottom: 20px;
}
#burger:checked ~ .burger__nav{
	top: 54px;
	
}

/* HEADER SECTION */

/* HERO SECTION */
.hero {
	position: relative;
	display: flex;
	height: calc(100vh - 60px);
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	padding: 80px 0;
	background: url("../images/bg.jfif") no-repeat center/cover fixed;
}

.hero::before {
	content: "";
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	background-color: rgba(0, 0, 0, .5);
}

.hero__title {
	position: relative;
	z-index: 1;
	font-size: 70px;
	text-transform: uppercase;
	color: var(--light);
}

.hero__subtitle {
	position: relative;
	z-index: 1;
	font-size: 40px;
	text-transform: uppercase;
	color: var(--light);
}

/* HERO SECTION */
.films {
	padding: 80px 0;
	background-color: var(--dark);
}

.films__grid {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	row-gap: 40px;
	column-gap: 30px;
}

.films__card {}

.films__img {
	width: 100%;
	height: 300px;
}

.films__img img {
	width: 100%;
	height: 100%;
	object-position: center;
	object-fit: cover;
}

.films__title {
	text-align: center;
	text-transform: capitalize;
	margin-top: 15px;
	font-size: 24px;
	color: var(--light);
}

.footer {
	padding: 70px 0;
	background-color: var(--dark);
	color: var(--light);
}

.footer__container {
	column-gap: 30px;
}

.footer__title {
	font-size: 25px;
	margin-bottom: 15px;
}

.footer__link {
	font-size: 20px;
	display: block;
}

.footer__link::not(:last-child) {
	margin-bottom: 10px;
}